*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    background-color: #FAF6E3;
   
}
header{
    height: 70vh;
    width: 100%;
    background-color: #72BF78;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vh;
   height: 7vh;
   margin-left: 3vh;
   
}
h1{
    width: 30%;
    background-color: blue;
}
ul{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    list-style: none;
}
.grid{
    display: grid;
 height: 200px;
 grid-template-areas: 
 '. box2 box2 box4'
 'box5 box5 box3 box4'
 '. . box3 box4';
}
#box1{
    background-color: red;
}
#box2{
    background-color: maroon;
    grid-area: box2;
}
#box3{
    background-color: gold;
    grid-area: box3;
}
#box4{
    background-color: green;
    grid-area: box4;
}
#box5{
    background-color: rgba(165, 42, 42, 0.7); 
    grid-area: box5;
}
#box6{
    background-color: blue;
}
#box7{
    background-color: lawngreen;

}
